# ========================================
# IntelliJ (JetBrains 계열 IDE 설정 무시)
# ========================================
.idea/
*.iml
out/

# ========================================
# Python
# ========================================
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.cache/
.hypothesis/

# ========================================
# Jupyter Notebook
# ========================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ========================================
# 기타 도구 설정
# ========================================
.ropeproject/
.pybuilder/
.pyre/
.spyderproject/
.spyproject/
# pyenv
.python-version
# poetry
.pdm.toml
.pdm-python
__pypackages__/

# 환경설정 무시
.env
